/* Linking the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Concert+One&family=Frank+Ruhl+Libre&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;500;800&family=Oleo+Script+Swash+Caps&family=Petit+Formal+Script&family=Roboto:ital@1&display=swap');


/* Styles for all screens */
@media screen {
    /* Default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto'; 
    font-weight: bold;
  }
  /* Define the styles for the visible and hidden classes */
.visible {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .hidden {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    background-color: aquamarine;
  }
  /* first section in home page */
  .navPage {
      width: 100%;
      height: 100vh;
      transition: background-color 0.5s ease;
  }
.navPage video{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
  }
  /* .navbar{width: 100%;
    height: 10vh;
    background-color: #55555588;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  } */
  .contentnav a{
      color: white;
      font-size: 30px;
    }
    .userName h4{
      color: rgba(255, 255, 255, 0.568);
      font-weight: bold;
      font-size: 30px;
    }
    .userDetails {
      position: absolute;
      right: 35%;
      bottom: 20%;
      width:30%;
      height: 50%;
  }
  .userDetails img{
      width: 55%;
      height: 55%;
      border-radius: 50% 50%;
      margin: 1% 25%;
      }
      .userDetails h2{
          color: white;
          font-size: 45px;
          font-weight: bold;
          text-align: center;
          margin-top: 2%;
      }
      .userDetails h1{
          color: rgba(255, 255, 255, 0.411);
          font-size: 70px;
          font-weight: bold;
          text-align: center;
          margin-top: 3%;
      }
      .userDetails h1::after{
        content: "P";
          animation-name:tayping ;
          animation-duration: 8s;
          animation-iteration-count: infinite;
      }
      @keyframes tayping{
        4%{content: "P";}
        8%{content: "Pr";}
        12%{content: "Pro";}
        16%{content: "Prod";}
        20%{content: "Produ";}
        24%{content: "Produc";}
        28%{content: "Product";}
        32%{content: "Product ";}
        36%{content: "Product O";}
        40%{content: "Product Ow";}
        44%{content: "Product Own";}
        48%{content: "Product Owne";}
        52%{content: "Product Owner";}
        56%{content: "Product Owne";}
        60%{content: "Product Own";}
        64%{content: "Product Ow";}
        68%{content: "Product O";}
        72%{content: "Product";}
        76%{content: "Produc";}
        80%{content: "Produ";}
        84%{content: "Prod";}
        88%{content: "Pro";}
        92%{content: "Pr";}
        96%{content: "P";}
        100%{content: "|";}
    }
      /* section two in home page(topSkills) */
      .topSkills{
          width: 100%;
          height: 80vh;
          margin-top: 3vh;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
      .skills{
          width: 100%;
          height: 48vh;
      }
      .skill{
          background-color: rgba(208, 208, 208, 0.149);
          height: 40vh;
          margin:auto ;
          border-radius:10px ;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          text-align: center;
      } 
      .skill img{background-color: rgba(9, 9, 45, 0.358) ;
          width: 50%;
          margin:3%;
      }
      .skill h3{
          color: rgba(1, 1, 36, 0.748);
          font-size: 30px;
          font-weight: bold;
          margin:3%;
      }
      .skill p{
          color: rgba(9, 9, 45, 0.358);
          font-size: 15px;
          margin:3%;
      }
      .summarySection{
          width: 100%;
          height: 30vh;
          margin-top: 20px;
      }
      .summarySection h2{
          font-size: 60px;
          font-weight: bold;
          color: rgba(1, 1, 36, 0.748);
          text-align: center;
      }
      .summarySection p{
          font-size: 15px;
      }
      /* Experiece Section  */
      .experiecePart{
          width: 100%;
          height: 110vh;
          margin-top: 2%;
          overflow: hidden;
          background-color: rgba(208, 208, 208, 0.149);
      }
      .expBody {
        border-radius: 10px;
        box-shadow: 0 5px 5px 10px #38373779;
      }
      .expBody p{
        font-size: 18px;
      }
      .expBody button {
        font-size: 22px;
        font-weight: bold;
      }
       .accordion-body p{
          color: rgba(42, 42, 146, 0.648);
          font-weight: bold;
          text-align: center;
       } 
       .sectionAdd {
          width: 100%;
          height: 10vh;
          display: flex;
          align-items: center;
          justify-content: center;
       }
       .sectionAdd h2{
          font-size: 55px;
          font-weight: bold;
          color: rgba(1, 1, 36, 0.748);
       }

  /* all Skills section */
  .allSkills{
      width: 100%;
      height: 100vh;
      margin-top: 3%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
  }
   .skillBox{
      background-color: rgba(208, 208, 208, 0.149);
      border-radius: 10px;
      overflow: hidden;
      height: 35vh;
      margin: 1.6%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      position: relative;
  }
  .skillBox img{
      width: 45%;
      position: absolute;
      top: 15%;
      left: 27.5%;
  }
  .skillBox h2{
      width: 60%;
      font-size: 25px;
      font-weight: bold;
      color: rgba(18, 18, 136, 0.648);
      position: absolute;
      bottom: 15%;
      left: 20%;
  }
  /* educationPart */
  .educationPart{
      width: 100%;
      height: 80vh;
      margin: 3%;
      overflow: hidden;
      position: relative;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
  }
  .educationPart h2{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgba(18, 18, 136, 0.648);
  }
  .uploadEducationData{
    width: 35%;
    height: 60vh;
    margin: 2.5%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 10px #38373751 ;
    position: absolute;
    top: 10vh;
    left:3.75%;
  }
  .uploadEducationData input{
    width: 85%;
    margin: 2vh 7.5%;
    background-color: rgba(248, 238, 226, 0.638);
  }
  .uploadEducationData button{
    width: 50%;
    height: 5vh;
    border: none;
    font-size: 17px;
    color: white;
    margin: 1vh 25%;
    border-radius: 25px;
    background-color: rgba(31, 31, 151, 0.648);
  }
  .uploadEducationData h3{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgba(18, 18, 136, 0.648);
  }
  .myEducaionData{
    width: 50%;
    height: 60vh;
    padding: 2%;
    margin: 2.5%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 10px #38373748 ;
    position: absolute;
    top: 10vh;
    right: 3.75%;
  }
  
  .myEducaionData p{
    font-size: 20px;
    font-weight: bold;
    color: rgba(18, 18, 136, 0.648);
  }
  .myEducaionData img{
    width: 28%;
  }
  /* business card section */
  .businessCard{
      height: 85vh;
      background-image: url("./Components/assest/Inspirations\ de\ finitions\ et\ textures.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 2%;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .imgcard {
      width: 25%;
      height: 65vh;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #383737 ;
      position: relative;
      top: 50px;
  }
  .imgcard  img{
      width: 100%;
      height: 65vh;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #383737 ;
      position: absolute;
      left: 8%;
      top: 5%;
  }
  .jobDescription { 
      margin-top: 5%;
  }
  .jobDescription h3{
      color: rgba(1, 1, 89, 0.764);
      font-size: 30px;
      font-weight: bold;
  }
  .jobDescription h2{
      color: rgba(42, 42, 146, 0.648);
      font-size: 30px;
      font-weight: bold;
  }
  .cardData{width: 100%;
      height: 35vh;
      margin-top: 15%;
  }
  .cardData h4{
      font-size: 22px;
      color: rgba(42, 42, 146, 0.648);
      font-weight: bold;
      margin-top: 10%;
  }
  .cv{
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .cv button{
  width: 25%;
  height: 6vh;
  border-radius: 25px;
  border: none;
  color: white ;
  font-size: 20px;
  font-weight:bold;
  background-color:gray;
  transition-property:background-color;
  transition-property:color;
  }
  .cv button:hover{
      background-color: transparent;
      color:rgba(1, 1, 67, 0.825) ;
  } 


  /* certificatePart */
  .certificatePart{
    width: 100%;
    height: 100vh;
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0 5px 5px 10px rgba(128, 128, 128, 0.479) ;
    position: relative;
  }
.showData{
    border-radius: 10px;
    box-shadow: 0 5px 5px 10px #55555556;
    width: 45%;
    height: 95vh;
    position: absolute;
    top: 2.5vh;
    right: 2.5%;
}
.addPage{
    position: absolute;
    top: 10vh;
    left: 10%;
}
.addPage h2{
    font-size: 45px;
    color: rgba(42, 42, 146, 0.648);
    font-weight: bold;
}
.formData {
    box-shadow: 0 5px 5px 10px rgba(128, 128, 128, 0.479) ;
    border-radius: 10px;
    width: 45%;
    height: 30vh;
    position: absolute;
    top: 25vh;
    left: 2.5%;
}
.formData input{
    width: 90%;
    margin: 10px 5%;
    background-color: rgba(248, 238, 226, 0.638);
}
.formData button{
    width: 25%;
    height: 5vh;
    background-color: rgba(31, 31, 151, 0.648);
    border-radius: 25px;
    border: none;
    color: white;
    margin: 2vh 12.5%;
}
.certificate-item{
    border-radius: 10px;
    box-shadow: 0 5px 5px 10px #c9c7c73e;
}
.certificate-item p{
    font-weight: bold;
    font-size: 15px;
    color: rgba(42, 42, 146, 0.648);
}
.certificate-item img{
    width: 100%;
}

}
@media (max-width: 575.98px) { 
/* first section in home page */
  .userName h4{
    font-size: 25px;
  }
  .userDetails {
    width:80%;
    height: 50vh;
    right: 10%;
    bottom: 20vh;
}
  .userDetails h2{
        font-size: 25px;
    }
  .userDetails h1{
        font-size: 35px;
    }
   .dropdown img{
    width: 75%;
   }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 190vh;
}
.topSkillsBox{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .skills{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.skill{
    height: 35vh;
    margin-top: 5vh;
} 
.skill img{
    width: 33%;
}
.skill h3{
    font-size: 18px;
}
.skill p{
    font-size: 14px;
}
.summarySection h2{
    font-size: 45px;
}
.summarySection p{
    font-size: 12px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 140vh;
}
.expBody p{
  font-size: 12px;
}
.expBody button {
  font-size: 17px;
}
 .sectionAdd h2{
    font-size: 30px;
 }
  /* all Skills section */
  .allSkills{
    height: 330vh;
}
 .skillBox{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillBox img{
    width: 25%;
    top: 10%;
    left: 37.5%;
}
.skillBox h2{
     width:38%;
    font-size: 28px;
    bottom: 2%;
    left: 31%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}
.educationCard h2{
    font-size: 30px;
}
.gradData {
    height: 20vh;
}
.gradData h3{
    font-size: 20px;
}
 /* business card section */
 .businessCard{
    height: 110vh;
}
.imgcard {
    display: none;
}
.jobDescription{
    height: 33vh;
}
.jobDescription h3{
    font-size: 18px;
}
.jobDescription h2{
    font-size: 22px;
}
.jobDescription p{
    font-size: 13px;
}
.cardData{
    height: 65vh;
}
.cardData button{
   width: 50%;
   font-size: 15px;
}
.cardData h4{
    font-size: 18px;
}
.cardData hr{
    display: none;
}
/* certificate part */
.certificatePart{
    height: 100vh;
  }
.showData{
    width: 100%;
    height: 60vh;
    top: 37vh;
}
.formData {
    width: 100%;
    height: 35vh;
    top: 2vh;
    left: 0;
}
.formData button{
    width: 40%;
    margin: 2vh 5%;
}
.certificate-item p{
    font-size: 15px;
}
.certificate-item img{
    width: 20%;
}

}
@media (min-width: 575.98px) and (max-width: 768px) {
    /* first section in home page */
.userName h4{
    font-size: 35px;
  }
  .userDetails {
    width:70%;
    height: 65vh;
    right: 15%;
    bottom: 15vh;
}
.userDetails img{
    width: 50%;
}
  .userDetails h2{
        font-size: 37px;
    }
  .userDetails h1{
        font-size: 45px;
    }
   .dropdown img{
    width: 90%;
   }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 200vh;
}
.topSkillsBox{
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .skills{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.skill{
    height: 42vh;
    margin-top: 5vh;
} 
.skill img{
    width: 25%;
}
.skill h3{
    font-size: 27px;
}
.skill p{
    font-size: 17px;
}
.summarySection h2{
    font-size: 50px;
}
.summarySection p{
    font-size: 14px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 135vh;
}
.expBody p{
  font-size: 15px;
}
.expBody button {
  font-size: 20px;
}
 .sectionAdd h2{
    font-size: 40px;
 }
  /* all Skills section */
  .allSkills{
    height: 340vh;
}
 .skillBox{
    height: 30vh;
    width: 20%;
}
.skillBox img{
    width: 15%;
    top: 4%;
    left: 42.5%;
}
.skillBox h2{
    width:25%;
    font-size: 30px;
    bottom: 1%;
    left: 37.5%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}
.educationCard h2{
    font-size: 40px;
}
.gradData {
    height: 20vh;
}
.gradData h3{
    font-size: 28px;
}
 /* business card section */
 .businessCard{
    height: 135vh;
}
.imgcard {
    display: none;
}
.jobDescription{
    height: 33vh;
}
.jobDescription h3{
    font-size: 20px;
}
.jobDescription h3{
    font-size: 28px;
}
.jobDescription p{
    font-size: 15px;
}
.cardData{
    height: 80vh;
}
.cardData button{
   width: 40%;
}
.cardData h4{
    font-size: 20px;
}
.cardData hr{
    display: none;
}
/* certificate part */
.certificatePart{
    height: 100vh;
  }
.showData{
    width: 100%;
    height: 58vh;
    top: 40vh;
    left: 0;
}
.formData {
    width: 90%;
    height: 35vh;
    top: 3vh;
    left: 5%;
}
.formData button{
    width: 40%;
    margin: 2vh 5%;
}

.certificate-item p{
    font-size: 18px;
}
.certificate-item img{
    width: 50%;
}
  }
@media (min-width: 768px) and (max-width: 991.98px) { 
/* first section in home page */
.userName h4{
    font-size: 38px;
  }
  .userDetails {
    width:60%;
    height: 65vh;
    right: 20%;
    bottom: 15vh;
}
.userDetails img{
    width: 40%;
    margin: 1% 30%;
}
  .userDetails h2{
        font-size: 40px;
    }
  .userDetails h1{
        font-size: 50px;
    }
   .dropdown img{
    width: 90%;
   }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 100vh;
}
.topSkillsBox{
    margin-top: 5vh;
    height: 45vh;
}
 .skills{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .summarySection {
  height: 45vh;
}
.skill{
    height: 40vh;
} 
.skill img{
    width: 60%;
}
.skill h3{
    font-size: 25px;
}
.skill p{
    font-size: 12px;
}
.summarySection h2{
    font-size: 55px;
}
.summarySection p{
    font-size: 15px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 135vh;
}
.expBody p{
  font-size: 15px;
}
.expBody button {
  font-size: 20px;
}
 .sectionAdd h2{
    font-size: 45px;
 }
  /* all Skills section */
  .allSkills{
    height: 90vh;
}
 .skillBox{
    height: 33vh;
}
.skillBox img{
    width: 70%;
    top: 6%;
    left: 15%;
}
.skillBox h2{
    width:80%;
    font-size: 20px;
    bottom: 3%;
    left: 10%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}
.gradData hr{
    display: none;
}
.educationCard h2{
    font-size: 50px;
}
.gradData {
    height: 25vh;
}
.gradData h3{
    font-size: 30px;
}
/* business card section */
 .businessCard{
    height: 80vh;
}
.imgcard {
    height: 50vh;
}
.imgcard  img{
    height: 50vh;
}
.jobDescription { 
    margin-top: 2%;
}
.jobDescription h3{
    font-size: 25px;
}
.jobDescription h2{
    font-size: 30px;
}
.jobDescription p{
    font-size: 15px;
}

.cardData h4{
    font-size: 15px;
}
.cv button{
width: 30%;
font-size: 15px;
}
/* certificate part */
.certificatePart{
    height: 100vh;
  }
.showData{
    width: 100%;
    height: 58vh;
    top: 40vh;
    left: 0;
}
.formData {
    width: 90%;
    height: 35vh;
    top: 3vh;
    left: 5%;
}
.formData button{
    width: 40%;
    margin: 2vh 5%;
}
.certificate-item p{
    font-size: 20px;
}
.certificate-item img{
    width: 60%;
}
 }
 @media (min-width: 991.98px) and (max-width: 1199.98px) { 
/* first section in home page */
.userName h4{
    font-size: 40px;
  }
  .userDetails {
    width:60%;
    height: 65vh;
    right: 20%;
    bottom: 15vh;
}
.userDetails img{
    width: 40%;
    margin: 1% 30%;
}
  .userDetails h2{
        font-size: 45px;
    }
  .userDetails h1{
        font-size: 50px;
    }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 100vh;
}
.topSkillsBox{
    margin-top: 5vh;
    height: 45vh;
}
 .skills{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .summarySection {
  height: 45vh;
}
.skill{
    height: 40vh;
} 
.skill img{
    width: 60%;
}
.skill h3{
    font-size: 25px;
}
.skill p{
    font-size: 12px;
}
.summarySection h2{
    font-size: 55px;
}
.summarySection p{
    font-size: 15px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 125vh;
}
.expBody p{
  font-size: 15px;
}
.expBody button {
  font-size: 20px;
}
 .sectionAdd h2{
    font-size: 50px;
 }
  /* all Skills section */
  .allSkills{
    height: 90vh;
}
 .skillBox{
    height: 33vh;
}
.skillBox img{
    width: 70%;
    top: 6%;
    left: 15%;
}
.skillBox h2{
    width:80%;
    font-size: 22px;
    bottom: 3%;
    left: 12%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}

.educationCard h2{
    font-size: 50px;
}
.gradData {
    height: 25vh;
}
.gradData h3{
    font-size: 33px;
}
/* business card section */
 .businessCard{
    height: 85vh;
}
.imgcard {
    height: 60vh;
}
.imgcard  img{
    height: 65vh;
}
.jobDescription { 
    margin-top: 2%;
}
.jobDescription h3{
    font-size: 30px;
}
.jobDescription h2{
    font-size: 35px;
}
.jobDescription p{
    font-size: 15px;
}
.cardData h4{
    font-size: 18px;
}
.cv button{
width: 30%;
font-size: 15px;
}
/* certificate part */
.certificatePart{
    height: 90vh;
  }
.showData{
    height: 85vh;
    top: 2.5vh;
    right: 2.5%;
}
.formData {
    width: 45%;
    height: 40vh;
}

.formData button{
    width: 30%;
    height: 5vh;
    margin: 3vh 10%;
}
 }
 @media (min-width: 1199.98px) and (max-width: 1399.98px) {
/* first section in home page */
.userName h4{
    font-size: 53px;
  }
  .userDetails {
    width:60%;
    height: 70vh;
    right: 20%;
    bottom: 10vh;
}
.userDetails img{
    width: 35%;
    margin: 1% 32.5%;
}
  .userDetails h2{
        font-size: 50px;
    }
  .userDetails h1{
        font-size: 55px;
    }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 95vh;
}
.topSkillsBox{
    margin-top: 5vh;
    height: 45vh;
}
 .skills{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .summarySection {
  height: 45vh;
}
.skill{
    height: 45vh;
} 
.skill img{
    width: 60%;
}
.skill h3{
    font-size: 25px;
}
.skill p{
    font-size: 15px;
}
.summarySection h2{
    font-size: 58px;
}
.summarySection p{
    font-size: 17px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 128vh;
}
.expBody p{
  font-size: 17px;
}
.expBody button {
  font-size: 25px;
}
 .sectionAdd h2{
    font-size: 54px;
 }
  /* all Skills section */
  .allSkills{
    height: 100vh;
}
 .skillBox{
    height: 33vh;
}
.skillBox img{
    width:60%;
    top: 6%;
    left: 20%;
}
.skillBox h2{
    width:80%;
    font-size: 25px;
    bottom: 3%;
    left: 18%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}

.educationCard h2{
    font-size: 58px;
}
.gradData {
    height: 25vh;
}
.gradData h3{
    font-size: 35px;
}
/* business card section */
 .businessCard{
    height: 100vh;
}
.imgcard {
    height: 70vh;
}
.imgcard  img{
    height: 75vh;
}
.jobDescription { 
    margin-top: 2%;
}
.jobDescription h3{
    font-size: 38px;
}
.jobDescription h2{
    font-size: 45px;
}
.jobDescription p{
    font-size: 18px;
}
.cardData h4{
    font-size: 25px;
}
.cv button{
width: 30%;
font-size: 18px;
}
/* certificate part */
.certificatePart{
    height: 100vh;
  }
.showData{
    height: 85vh;
    top: 2.5vh;
    right: 2.5%;
}
.formData {
    width: 45%;
    height: 40vh;
}

.formData button{
    width: 30%;
    height: 5vh;
    margin: 3vh 10%;
}
.certificate-item {
    width: 100%;
}
.certificate-item p{
    font-size: 20px;
}
  }
 