/* Linking the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Concert+One&family=Frank+Ruhl+Libre&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:wght@300;500;800&family=Oleo+Script+Swash+Caps&family=Petit+Formal+Script&family=Roboto:ital@1&display=swap');


/* Styles for all screens */
@media screen {
    /* Default styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto'; 
    font-weight: bold;
  }
  /* first section in home page */
  .navPage {
      width: 100%;
      height: 100vh;
      transition: background-color 0.5s ease;
  }
.navPage video{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
  }
  .contentnav a{
      color: white;
      font-size: 30px;
    }
    .userName h4{
      color: rgba(255, 255, 255, 0.568);
      font-weight: bold;
      font-size: 30px;
    }
    .userDetails {
      position: absolute;
      right: 35%;
      bottom: 20%;
      width:30%;
      height: 50%;
  }
  .userDetails img{
      width: 55%;
      height: 55%;
      border-radius: 50% 50% ;
      margin: 1% 25%;
      }
      .userDetails h2{
          color: white;
          font-size: 45px;
          font-weight: bold;
          text-align: center;
          margin-top: 2%;
      }
      .userDetails h1{
          color: rgba(255, 255, 255, 0.411);
          font-size: 70px;
          font-weight: bold;
          text-align: center;
          margin-top: 3%;
      }
      .userDetails h1::after{
        content: "P";
          animation-name:tayping ;
          animation-duration: 8s;
          animation-iteration-count: infinite;
      }
      @keyframes tayping{
        4%{content: "P";}
        8%{content: "Pr";}
        12%{content: "Pro";}
        16%{content: "Prod";}
        20%{content: "Produ";}
        24%{content: "Produc";}
        28%{content: "Product";}
        32%{content: "Product ";}
        36%{content: "Product O";}
        40%{content: "Product Ow";}
        44%{content: "Product Own";}
        48%{content: "Product Owne";}
        52%{content: "Product Owner";}
        56%{content: "Product Owne";}
        60%{content: "Product Own";}
        64%{content: "Product Ow";}
        68%{content: "Product O";}
        72%{content: "Product";}
        76%{content: "Produc";}
        80%{content: "Produ";}
        84%{content: "Prod";}
        88%{content: "Pro";}
        92%{content: "Pr";}
        96%{content: "P";}
        100%{content: "|";}
    }
      /* section two in home page(topSkills) */
      .topSkills{
          width: 100%;
          height: 80vh;
          margin-top: 3vh;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      }
      .skills{
          width: 100%;
          height: 48vh;
      }
      .skill{
          background-color: rgba(208, 208, 208, 0.149);
          height: 40vh;
          margin:auto ;
          border-radius:10px ;
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          text-align: center;
      } 
      .skill img{background-color: rgba(9, 9, 45, 0.358) ;
          width: 50%;
          margin:3%;
      }
      .skill h3{
          color: rgba(1, 1, 36, 0.748);
          font-size: 30px;
          font-weight: bold;
          margin:3%;
      }
      .skill p{
          color: rgba(9, 9, 45, 0.358);
          font-size: 15px;
          margin:3%;
      }
      .summarySection{
          width: 100%;
          height: 30vh;
          margin-top: 20px;
      }
      .summarySection h2{
          font-size: 60px;
          font-weight: bold;
          color: rgba(1, 1, 36, 0.748);
          text-align: center;
      }
      .summarySection p{
          font-size: 15px;
      }
      /* Experiece Section  */
      .experiecePart{
          width: 100%;
          height: 100vh;
          margin-top: 2%;
          overflow: hidden;
          background-color: rgba(208, 208, 208, 0.149);
      }
      .expBody {
        border-radius: 10px;
        box-shadow: 0 5px 5px 10px #38373779;
      }
      .expBody p{
        font-size: 18px;
      }
      .expBody button {
        font-size: 22px;
        font-weight: bold;
      }
       .accordion-body p{
          color: rgba(42, 42, 146, 0.648);
          font-weight: bold;
          text-align: center;
       } 
       .sectionAdd {
          width: 100%;
          height: 10vh;
          display: flex;
          align-items: center;
          justify-content: center;
       }
       .sectionAdd h2{
          font-size: 55px;
          font-weight: bold;
          color: rgba(1, 1, 36, 0.748);
       }

  /* all Skills section */
  .allSkills{
      width: 100%;
      height: 100vh;
      margin-top: 3%;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      
  }
   .skillBox{
      background-color: rgba(208, 208, 208, 0.149);
      border-radius: 10px;
      overflow: hidden;
      height: 35vh;
      margin: 1.6%;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      position: relative;
  }
  .skillBox img{
      width: 45%;
      position: absolute;
      top: 15%;
      left: 27.5%;
  }
  .skillBox h2{
      width: 60%;
      font-size: 25px;
      font-weight: bold;
      color: rgba(18, 18, 136, 0.648);
      position: absolute;
      bottom: 15%;
      left: 20%;
  }
  /* educationPart */
  .educationPart{
      width: 100%;
      height: 50vh;
      margin: 3%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .educationCard{
      width: 90%;
      height: 40vh;
      background-color:rgba(208, 208, 208, 0.149);
      box-shadow: 5px 5px 10px #555555;
      border-radius: 10px;
  }
  .educationCard h2{
      text-align: center;
      font-size: 60px;
      font-weight: bold;
      color: rgba(4, 4, 114, 0.489);  
  }
  .gradData {
      height: 25vh;
  }
  .gradData h3{text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: rgba(4, 4, 114, 0.664);
  }
  /* business card section */
  .businessCard{
      height: 85vh;
      background-image: url("./Components/assest/Inspirations\ de\ finitions\ et\ textures.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 2%;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .imgcard {
      width: 25%;
      height: 65vh;
      border-radius: 5px;
      box-shadow: 5px 5px 10px #383737 ;
      position: relative;
      top: 50px;
  }
  .imgcard  img{
      width: 100%;
      height: 65vh;
      border-radius: 10px;
      box-shadow: 5px 5px 10px #383737 ;
      position: absolute;
      left: 8%;
      top: 5%;
  }
  .jobDescription { 
      margin-top: 5%;
  }
  .jobDescription h3{
      color: rgba(1, 1, 89, 0.764);
      font-size: 30px;
      font-weight: bold;
  }
  .jobDescription h2{
      color: rgba(42, 42, 146, 0.648);
      font-size: 30px;
      font-weight: bold;
  }
  .cardData{width: 100%;
      height: 35vh;
      margin-top: 15%;
  }
  .cardData h4{
      font-size: 22px;
      color: rgba(42, 42, 146, 0.648);
      font-weight: bold;
      margin-top: 10%;
  }
  .cv{
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .cv button{
  width: 25%;
  height: 6vh;
  border-radius: 25px;
  border: none;
  color: white ;
  font-size: 20px;
  font-weight:bold;
  background-color:gray;
  transition-property:background-color;
  transition-property:color;
  }
  .cv button:hover{
      background-color: transparent;
      color:rgba(1, 1, 67, 0.825) ;
  } 

}


 /* (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
/* first section in home page */
  .userName h4{
    font-size: 25px;
  }
  .userDetails {
    width:80%;
    height: 50vh;
    right: 10%;
    bottom: 20vh;
}
  .userDetails h2{
        font-size: 25px;
    }
  .userDetails h1{
        font-size: 35px;
    }
   .dropdown img{
    width: 75%;
   }
 /* section two in home page(topSkills) */
 .topSkills{
    height: 190vh;
}
.topSkillsBox{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .skills{
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.skill{
    height: 35vh;
    margin-top: 5vh;
} 
.skill img{
    width: 33%;
}
.skill h3{
    font-size: 18px;
}
.skill p{
    font-size: 14px;
}
.summarySection h2{
    font-size: 45px;
}
.summarySection p{
    font-size: 12px;
    text-align: center;
}
 /* Experiece Section  */
 .experiecePart{
    margin-top: 2vh;
    height: 140vh;
}
.expBody p{
  font-size: 12px;
}
.expBody button {
  font-size: 17px;
}
 .sectionAdd h2{
    font-size: 30px;
 }
  /* all Skills section */
  .allSkills{
    height: 330vh;
}
 .skillBox{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skillBox img{
    width: 25%;
    top: 10%;
    left: 37.5%;
}
.skillBox h2{
     width:38%;
    font-size: 28px;
    bottom: 2%;
    left: 31%;
}
/* educationPart */
.educationPart{
    width: 100%;
    height: 60vh;
}
.educationCard{
    height: 50vh;
}
.educationCard h2{
    font-size: 30px;
}
.gradData {
    height: 20vh;
}
.gradData h3{
    font-size: 20px;
}

 /* business card section */
 .businessCard{
    height: 200vh;
 }
.imgcard {
    height: 50vh;
}
.imgcard  img{
    width: 30%;
    height: 30vh;
}
.Card{
    background-color: #555555;
  }
.jobDescription { 
    background-color: bisque;
    position: absolute;
    top: 20px;
   
}
.jobDescription h3{
    font-size: 15px;
}
.jobDescription p{
    font-size: 10px;
}
.jobDescription h2{
    font-size: 20px;
}
.cardData{width: 100%;
    height: 35vh;
    margin-top: 15%;
}
.cardData h4{
    font-size: 22px;
    color: rgba(42, 42, 146, 0.648);
    font-weight: bold;
    margin-top: 10%;
}
.cv{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv button{
width: 52%;
height: 7vh;
}



 }







/* small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { }

 /* medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { }

/*  large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { }

/* devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { }

  
 
 